.fc-toolbar {
  background: #eee;
  height:3em;
  border-bottom: 1px solid #ddd;
  padding:3px;
}

.fc-left {
  line-height:2.2em;
}

.fc-toolbar.fc-header-toolbar {
  margin-bottom:0px;
}

.fc-toolbar .fc-clear {
  clear:none;
}

.fc-view-container {
  padding:5px;
}

.fc-event-container a,
.fc-event-container a:link,
.fc-event-container a:active,
.fc-event-container a:visited {
  color:white;
}