.fc-toolbar {
  background: #eee;
  height:2.6em;
  border-bottom: 1px solid #ddd;
  padding:3px;
}

.fc-center {
  line-height:2.2em;
}

.fc-toolbar.fc-header-toolbar {
  margin-bottom:0px;
}

.fc-toolbar .fc-clear {
  clear:none;
}

.fc-view-container {
  padding:5px;
}

.fc-event-container a,
.fc-event-container a:link,
.fc-event-container a:active,
.fc-event-container a:visited {
  color:white;
  text-decoration: none;
}

.fc-event-container a.event-future,
.fc-event-container a.event-future:link,
.fc-event-container a.event-future:active,
.fc-event-container a.event-future:visited {
  color:black;
}

.fc-event {
  background-color: #888888;
  border-color: #777777;
}

.fc-event.event-success {
  background-color: #3a87ad;
  border-color: #3a87ad;
}

.fc-event.event-failure {
  background-color: #ff0000;
  border-color: #cc0000;
}

.fc-event.event-unstable {
  background-color: #a6982b;
  border-color: #968b3c;
}

.fc-event.event-future {
  background-color: #eee;
  border-color: gray;
  border-style: dashed;
}



